<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :nickname, required: true %>
    <%= f.collection_radio_buttons :color,
      [['54478C'], ['2C699A'], ['048BA8'],
       ['0DB39E'], ['16DB93'], ['83E377'],
       ['B9E769'], ['EFEA5A'], ['F1C453'], ['F29E4C']],
       :first,
       :last do |b| %>
      <%= b.radio_button + b.label {''} %>
    <% end %>

    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


<!-- [['54478C', 'Dark Slate Blue'], ['2C699A', 'Sapphire Blue'], ['048BA8', 'Blue Munsell'],
       ['0DB39E', 'Keppel'], ['16DB93', 'Medium Aquamarine'], ['83E377', 'Light Green'],
       ['B9E769', 'Inchworm'], ['EFEA5A', 'Corn'], ['F1C453', 'Maize Crayola'], ['F29E4C', 'Sandy Brown']], -->
