<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :nickname, required: true %>
    <%= f.input :photo, as: :file %>

    <label for="">Color Theme</label>
    <div class="radio-flex">
      <%= f.collection_radio_buttons :color,
        [['0DB39E'], ['16DB93'],  ['83E377'], ['B9E769'], ['EFEA5A'], ['F1C453'], ['F29E4C']],
         :last,
         :first do |b| %>
          <%= b.radio_button(id: b.object, style: 'display: none;') %>
          <%= b.label(class: 'btn', for: b.text, style: "background-color: ##{b.text}; content: '';") %>
      <% end %>
    </div>

    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<div class="devise-links">
<%= render "devise/shared/links" %>
</div>
