<div id="room">
  <div id="message-box" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-info" id="message-<%= message.id %>">
        <p class="nickname"><%= message.user.nickname %></p>
        <p class="time-o-message"><%= message.created_at.strftime("%H:%M %A") %></p>
      </div>
      <p class="content"><%= message.content %></p>
    <% end %>
  </div>
  <div id="form-box">
    <% if policy(Message).create? %>
      <%= render './messages/form' %>
    <% end %>
  </div>
</div>
